{% extends 'base.html.twig' %}

{% block title %}Liste des personnes{% endblock %}

{% block body %}
    <table class="table table-hover">
        <thead>
        <tr class="table-warning">
            <th>ID</th>
            <th>Image</th>
            <th>CIN</th>
            <th>Firstname</th>
            <th>Name</th>
            <th>Age</th>
            <th>Job</th>
        </tr>
        </thead>
        <tbody>
        {% for personne in personnes %}
        <tr class="{% if loop.index is odd %} table-secondary {% else %} table-info {% endif %}">
            <td>{{ personne.id }}</td>
            <td><img
                        class="rounded-circle"
                        width="50pc"
                        height="50px"
                        src="{{ personne.path }}" alt="">
            </td>
            <td>{{ personne.cin }}</td>
            <td>{{ personne.firstname }}</td>
            <td>{{ personne.name }}</td>
            <td>{{ personne.age }}</td>
            <td>{{ personne.job }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block mainTitle %}
    liste des personnes
{% endblock %}
{% block pageTitle %}
    liste
{% endblock %}