{% extends 'base.html.twig' %}
{% block body %}
{% for message in app.session.flashBag.get('info') %}
    <div class="alert alert-info">
        {{ message }}
    </div>
{% endfor %}
{% for message in app.session.flashBag.get('error') %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
{% endfor %}
{% for message in app.session.flashBag.get('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}
<table class="table">
    <tr>
        <th>Todo</th>
        <th>Description</th>
    </tr>
    {% for todo,description in app.session.get('todos') %}
        <tr class="{% if loop.index is odd %} table-primary {% else %} table-warning {% endif %}">
            <td>{{ todo }}</td>
            <td>{{ description }}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
{% block title %}
    liste des todos
{% endblock %}
{% block mainTitle %}
    TDO
{% endblock %}
{% block pageTitle %}
    Todo list
{% endblock %}